[submodule "submodules/gologpp"]
	path = submodules/gologpp
	url = https://github.com/mancanelli/gologpp
[submodule "submodules/LydiaSyft"]
	path = submodules/LydiaSyft
	url = git@github.com:GianmarcoDIAG/LydiaSyft.git
	branch = main
