[submodule "submodules/lydia"]
	path = submodules/lydia
	url = https://github.com/whitemech/lydia
[submodule "submodules/gologpp"]
	path = submodules/gologpp
	url = https://github.com/mancanelli/gologpp
